*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #000000;
    height: 100vh;
}
.menu{
    a{
        text-decoration: none;
        color: white;
        padding: 5px 15px;
    }
    a:hover{
        background-color: grey;
        border-radius: 30%;
        transition: 3s;
    }
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    .nav2{
        display: flex;
        h2{
            margin:0px 30px;
        }
    }
    .nav3{
        a{
            border: 1px solid white;
            padding: 3px 15px;
        }
    }
    .nav1{
        img{
            margin-top: -20px;
        }
    }
}
.info{
    text-align: center;
    color: white;
    margin-top: 100px;
    h1{
        font-size: 60px;
        margin-bottom: 60px;
    }
}
.twobutton{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    a{
        text-decoration: none;
        color: white;
        margin: 20px;
    }
   
    .button1{
      a{
        padding: 15px 25px;
        background-color: #4452FE;
      }
      a:hover{
        box-shadow: 5px 5px 5px grey,
        -5px -5px 5px green;
    }
    }
    .button2{
        padding: 13px 15px;
        border: 1px solid white;
        margin-top: -15px;
    }
    .button2:hover{

            box-shadow: 5px 5px 5px saddlebrown,
            -5px -5px 5px grey;
        
    }
}
.panel{
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #000000;
    width: 100%;
    img{
        width: 100%;
    }
}
.gap{
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #181818;
    h1{
        font-size: 60px;
    }
    p{
        font-size: 25px;
    }
}
.features{
    padding-bottom: 120px;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    background-color: #181818;
    .features-left{
        width: 100%;
       img{
        width: 100%;
       }
    }
    .features-right{
        
        .features-right1{
            margin-top: 80px;
        }
    }
}
.contents{
 display: grid;
    .contents-left{
        a{
            text-decoration: none;
            color: white;
            padding: 17px 50px;
            background-color:#4452FE;
            position: relative;
            right: 350px;
            bottom: 380px;
        }
        a:hover{
            box-shadow: 5px 5px 5px greenyellow,
        -5px -5px 5px green;
        }
    }
    .contents-right{
        a:hover{
            box-shadow: 5px 5px 5px rgb(53, 7, 7),
        -5px -5px 5px green;
        }
        a{
            text-decoration: none;
            color: white;
            padding: 17px 55px;
            background-color:#4452FE;
            position: relative;
            right: 367px;
            bottom: 403px;
        }
    }
    background-color: #181818;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    padding-bottom: 120px;
}
.four-image{
    background-color: #181818;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 30px;
    img{
        border-radius:7%;
    }
}
.three-image{
    padding-top: 30px;
    background-color: #181818;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 30px;
    img{
        border-radius:7%;
    }
}
.see{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #181818;
    text-align: center;
    a{
        text-decoration: none;
        color: white;
        padding: 7px 40px;
        border: 1px solid white;
    }
    a:hover{
        box-shadow: 5px 5px 5px,
        -5px -5px 5px grey;
    }
}
.logoes{
    background-color: #181818;
    display: grid;
    justify-content: center;
    gap: 100px;
    grid-template-columns: auto auto auto auto auto auto;
}
.cards{
    background-color: #181818;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}
.last-info{
    img{
        width: 100%;
    }
    padding-left: 150px;
    background-color:#181818;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        background-color: #4452FE;
        padding: 15px 65px;
        position: relative;
        right: 76%;
        top: -133px;
    }
    a:hover{
        box-shadow: 5px 5px 5px,
        -5px -5px 5px grey;
    }
   
}
.footer{
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    background-color: #181818;
    .footer1{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 100px;
        .footer12{
            a{
            text-decoration: none;
            color: white;
            padding: 5px 15px;
            }
            a:hover{
                background-color: grey;
                transition: 2s;
                color: black;
            }
        }
    }
    .footer2{
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.mobmenu{
    background-color: #000000;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    display: none;
    .mobmenu2{
        a{
            text-decoration: none;
            color: white;
            border: 1px solid white;

        }
    }
}
@media (max-width:768px) {
    .menu{
        display: none;
    }
    .mobmenu{
        display: block;
        display: grid;
        position: relative;
        bottom: 940px;
        width: 100%;
        padding-bottom: 50px;
    h2{
        margin-top: 20px;
        margin-right: 20px;
        a{
            padding: 7px 15px;
        }
    }
    }
.features{
    display: grid;
    grid-template-columns: auto;
    .features-right{
        text-align: center;
    }
}
.contents{
    display: grid;
    grid-template-columns: auto;
    img{
        width: 100%;
    }
}
.four-image{
    display: grid;
    grid-template-columns: auto;
}
.three-image{
    img{
        width: 100%;
    }
    text-align: center;
    display: grid;
    grid-template-columns: auto;
}
.logoes{
    display: grid;
    grid-template-columns: auto auto auto;
    img{
        width: 100%;
    }
}
.cards{
    img{
        width: 100%;
    }
    text-align: center;
    display: grid;
    grid-template-columns: auto;
}  
.last-info{
    display: none;
}
.footer{
    text-align: start;
    display: grid;
    grid-template-columns: auto;
    .footer1{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto;
    }
    .footer2{
        margin-top: 50px;
    }
}
}